
body > div {
	height: 100%;
}

form {
	border: 1px solid #999;
	margin: auto;
	padding: 10px;
}

input, label {
	color: #555;
	font-size: 15px;
	font-style: italic;
}

input[type='text'], input[type='password'] {
	margin-left: 10px;
	width: 85%;
}

input[type='submit'] {
	float: right;
    margin: 5px;
    margin-top: 10px;
    background: #0000000a;
    border: 0.5px solid #bbb;
}

label {
    margin: 0;
    margin-top: 10px;
}