{% load static %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel='stylesheet' type='text/css' href='{% static 'bootstrap/css/bootstrap.min.css'%}'/>
<link rel='stylesheet' type='text/css' href='{% static 'plastic/library.css' %}'/>
<link rel='stylesheet' type='text/css' href='{% static 'plastic/master.css' %}'/>

<body>

	<h2> library </h2>

	<div id='content' class='container-fluid row col-10'></div>

	

</body>

<script src='{% static 'plastic/library.js' %}'></script>